body{
	background-color: #F7F7F7;
}

.header-navbar{
	background-color: #13AAD8;
}
.navbar-img{
	height: 50px;
}
.navbar-text{
	
}

.navbar-nav .nav-item .nav-link{
	color: #FFFFFF;
}

.nav-search-input{
	border: none;
	border-radius: 0;
}

input:active, input:focus, select:active, select:focus{
	box-shadow: none !important;
}
.nav-search-btn{
	border: none;
	border-radius: 0;
	background-color: #FFFFFF;
} 

.nav-search-btn:hover, .nav-search-btn:focus{
	box-shadow: none;
}

.btn-login{
	color: #FFFFFF !important;
	font-weight: 600;
}

.btn-login:hover, .btn-login:focus{
	color: #FFFFFF;
}

.btn-daftar{
	border-color: #FFFFFF;
	color: #FFFFFF !important;
	font-weight: 600;
}

.btn-daftar:hover{
	color: #13AAD8 !important;
	background-color: #FFFFFF; 
	border: solid 1px white;
}

.btn-daftar:active, .btn-daftar:focus, .btn-daftar:active{
		background-color: #EEEEEE !important;
		color: #13AAD8 !important;
		box-shadow: none !important;
		outline: none !important;
}

/**Home**/

.desc-container{
	background-color: #FFFFFF;
}


.container-img{
	position: relative;
	text-align: center;	
}

.top-left{
	position: absolute;
	top: 120px;
	left: 25px;
}

.home-text{
	font-size: 30px;
	color: #13AAD8;
}

.home-sub-text{
	font-size: 30px;
	width: 45%;
}

.desc-list li{
	margin-top: 3%;
}

.list-inline-item{
	width: 20%;
}

.footer-1{
	background-color: #FFFFFF;
	box-shadow: 0 3px 1px 1px #E0E0E0;
}

.card .card-img-top{
	height: 200px; 
}

.card-list-text{
	font-size: 16px;
}

.card-list-subtext{
	font-size: 14px;
}

.list-subtext3{
	position: absolute;
	right:0;
}

.card-list-footer{
	width: 33%;
}

.card-subtitle{
	border-bottom: solid #13AAD8;
}

.card-text{
	font-size: 15px;
}

.card-list-border{
	border-right: solid #13AAD8;
}

.title-card-list{
	font-size: 45px;
}

.event-card-link{
	width: 100%;
	height: 65%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn-dropdown{
	border-color: #13AAD8;
	color: #13AAD8;
	font-weight: 600;
	margin: 0 auto;
	display: block;
	width: 15%;
	height: 20%;
}

.btn-dropdown:hover, .btn-dropdown:active, .btn-dropdown:focus{
	background-color: #13AAD8 !important;
	box-shadow: none !important;
	border: solid 1px #13AAD8;
	color: #FFFFFF !important;
}

.footer-text1{
	font-size: 13px;
	font-weight: 500;
}

.footer-text2{
	font-size: 11px;
}

.col-md- .footer-text1 .footer-brand{
	color: #FF6F00;
}

/* footer */
.footer-img{
    width: 50%;
}
.footer-img-play{
    width: 100%;
}

.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

