	.navbar{
	background-color: #FF6F00;
}

.navbar-nav .nav-item .nav-link{
	color: #FFFFFF;
}

.nav-search-input{
	border: none;
	border-radius: 0;
}

.nav-search-input:active, .nav-search-input:focus{
	box-shadow: none;
}
.nav-search-btn{
	border: none;
	border-radius: 0;
	background-color: #FFFFFF;
}

.nav-search-btn:hover, .nav-search-btn:focus{
	box-shadow: none;
}

.btn-login{
	color: #FFFFFF;
	font-weight: 500;
}

.btn-login:hover, .btn-login:focus{
	color: #FFFFFF;
}

.btn-daftar{
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-weight: 100;
}

.btn-daftar:hover{
	color: #FF6F00;
	background-color: #FFFFFF; 
	border: none;
}

.btn-daftar:active, .btn-daftar:focus, .btn-daftar:active{
		background-color: #EEEEEE !important;
		color: #FF6F00 !important;
		border: none;
		box-shadow: none !important;
		outline: none !important;

}
.col-md-12{
	align-content: center;
	content: center;
}
		.container{
		max-width: 1080px;
		margin: 80px auto;
		background: #fff;
		overflow: hidden;
		padding: 10px;}

		.middle{
			width: 1000px;
		padding: 10px;
		margin: 10px;
		float: left;
		}
	.img2{
		width: 180px;
		height: 180px;
		border-radius: 20px;
		padding-left: 10px;
		margin-left: 60px;
	}
	.teksawal{
		font-family: karla;
		font-size: 40px;
		padding-left: 150px;
	}
	.h1{
		margin-left: 60px;
	}
	.cara{
		font-family: karla;
		font-size: 20px;
		color: blue;	
		margin-left: 60px;

	}
	.form{
		border: 5px;
		border-color: black;
		background-color: whitesmoke;
		width: 80%;
		height: 75%;
		margin-left: 150px;
		margin-top: 50px;

	}
	.satu{
		font-family: karla;
		font-size: 25px;
		padding-top: 50px;
		padding-left: 30px;
	}
	.asal{
		background-color: whitesmoke;
			width: 90%;
			height: 50px;
			border-radius: 12px;
			border: none;
			font-size: 15px;
			padding-left: 20px;
			margin-left: 15px;
	}
	.teks{
		font-size: 20px;
		margin-left: 20px;
		font-family: karla;
	}
	.nama{
			background-color: whitesmoke;
			border: none;
			border-radius: 12px;
			width: 90%;
			height: 50px;
			padding-left: 50px;
			margin-left: 20px;
		}
	.button{
		width: 100%;
		height: 50px;
		background-color: #FF6F00;
		color: white;
		border-radius: 5px;
		margin-bottom: 10px;
		font-family: 'Karla', sans-serif;
		}
		@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	.middle {
		width: 100%;
		float: right;
	}
	
}
/* riska chairunisa 1301164546 */