body{
	background-color: #F7F7F7;
}

.header-navbar{
	background-color: #FF6F00;
}

.navbar-nav .nav-item .nav-link{
	color: #FFFFFF;
}

.nav-search-input{
	border: none;
	border-radius: 0;
}

input:active, input:focus, select:active, select:focus{
	box-shadow: none !important;
}
.nav-search-btn{
	border: none;
	border-radius: 0;
	background-color: #FFFFFF;
}

.nav-search-btn:hover, .nav-search-btn:focus{
	box-shadow: none;
}

.btn-login{
	color: #FFFFFF !important;
	font-weight: 600;
}

.btn-login:hover, .btn-login:focus{
	color: #FFFFFF;
}

.btn-daftar{
	border-color: #FFFFFF;
	color: #FFFFFF !important;
	font-weight: 600;
}

.btn-daftar:hover{
	color: #FF6F00 !important;
	background-color: #FFFFFF; 
	border: solid 1px white;
}

.btn-daftar:active, .btn-daftar:focus, .btn-daftar:active{
		background-color: #EEEEEE !important;
		color: #FF6F00 !important;
		box-shadow: none !important;
		outline: none !important;
}

/**Home**/



.desc-container{
	background-color: #FFFFFF;
}


.container-img{
	position: relative;
	text-align: center;	
}

.top-left{
	position: absolute;
	top: 120px;
	left: 25px;
}

.home-text{
	font-size: 30px;
	color: #FF6F00;
}

.home-sub-text{
	font-size: 30px;
	width: 45%;
}

.btn-social-media{.
	width: 
	margin-left: 0px;
	padding-left: 0px;
}

.desc-list li{
	margin-top: 3%;
}

.list-inline-item{
	width: 20%;
}

.footer-1{
	background-color: #FFFFFF;
	box-shadow: 0 3px 1px 1px #E0E0E0;
}

.card .card-img-top{
	height: 200px; 
}

.card-list-text{
	font-size: 16px;
}

.card-list-subtext{
	font-size: 14px;
}

.list-subtext3{
	position: absolute;
	right:0;
}

.card-list-footer{
	width: 33%;
}

.card-subtitle{
	border-bottom: solid #FF6F00;
}

.card-text{
	font-size: 15px;
}

.card-list-border{
	border-right: solid #FF6F00;
}

.title-card-list{
	font-size: 45px;
}

.event-card-link{
	width: 100%;
	height: 65%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn-dropdown{
	border-color: #FF6F00;
	color: #FF6F00;
	font-weight: 600;
	margin: 0 auto;
	display: block;
	width: 15%;
	height: 20%;
}

.btn-dropdown:hover, .btn-dropdown:active, .btn-dropdown:focus{
	background-color: #FF6F00 !important;
	box-shadow: none !important;
	border: solid 1px #FF6F00;
	color: #FFFFFF !important;
}

.footer-text1{
	font-size: 13px;
	font-weight: 500;
}

.footer-text2{
	font-size: 11px;
}

.col-md- .footer-text1 .footer-brand{
	color: #FF6F00;
}


/**Page Detail**/



.event-title{
	padding-left: 8%;
	margin-top: 7%;
}

.event-name{
	font-weight: 700;
}

.event-creator{
	font-weight: 700;
	color:#9E9E9E;	
}

.event-logo{
	width: 3%;
	height: 3%;
}

.carousel-item img{
	width: 100px;
	height: 400px;
}

.card-summary{
	padding-right: 5%;
}

.card-event-subtitle{
	font-size: 18px;
}

.btn-help-danus{
	background-color: #FF6F00;
	font-weight: 700;
	color: #FFFFFF !important;
}

.nav-details{
	background-color: #FFFFFF;
}

.nav-details-link{
	color: #BDBDBD;
	border-bottom: solid 5px #FFFFFF;
	font-weight: 500;
	margin-right: 40px;
	font-size: 23px;
}

li a.nav-details-link:focus
{
	color:#FF6F00;
	border-bottom: solid 5px #FF6F00;
}

li a.nav-details-link:hover{
	color:#FF6F00;
	border-bottom: solid 5px #FFFFFF;
}

.nav li.active a{
	color:#FF6F00;
	border-bottom: solid 5px #FF6F00;
}

.detail-content{
	background-color: #FFFFFF;
}

.update-event-logo{
	width: 7%;
	height: 7%;
	border: solid 1px #BDBDBD;
}

.update-event-name{
	font-weight: 700;
	font-size: 14px;
}

.update-event-creator{
	font-weight: 700;
	font-size: 12px;
}


.update-content{
	padding: 0;
	margin: 0;
}

.card .update-card-header{
	background-color: #FFFFFF;
}

.update-icon{
	width: 23px;
	height: 23px;
}

.update-card-like{
	font-weight: 700;
	font-size: 14px;
}

.update-card-time{
	font-size: 16px;
}

/**Page List event**/

.container-filter-bar{
	background-color: #FFFFFF;
} 
.pay-button{
	background-color: #FE642E; 
	width: 1000px; 
	height: 70px
}
.img-kanan{
	margin-right: 30px
}
.img-kiri{
	margin-left: 30px
}

.btn-bayar{
	background-color: #FF6F00 !important;
	font-weight: 700;
	color: #FFFFFF !important;
}